# Dependências
node_modules/
playwright-report/
test-results/
coverage/

# Build
dist/

# Ambiente
.env

# Logs
*.log

# Editor/IDE
.vscode/
.idea/

# Outros
.DS_Store

package-lock.json
yarn.lock
pnpm-lock.yaml  